body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.center {
    padding: 0;
    margin: 2px 0 2px 0;
}

.controlstyle {
    padding: 0 2px 0 2px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form {
    margin-top: 10px;
}